%h1.text-center Categories

%table.table.table-striped
  - @categories.each do |cat|
    %tr
      %td
        = link_to cat.name, category_path(:id => cat.id)
      %td= link_to 'Edit', edit_category_path(cat)
      %td= link_to 'Delete', cat, :method => :delete, :data => { :confirm => 'Are you sure?' }

%div
  = link_to 'New Category', new_category_path, class: "btn btn-primary"
